.header {
    position: relative;
    color: var(--white);
    z-index: 2;
}

.banner {
    position: relative;
    margin-top: -6.2rem;
    color: var(--white);
}

.banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg-header.png") no-repeat center center;
    background-size: cover;
    z-index: -2;
}

.banner::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #fbe389 0%, #f48b82 100%);
    opacity: 0.8;
    z-index: -1;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu-list-item {
    padding: 2.2rem 2.4rem;
}

.header-menu-list-item__link {
    font-size: 1.4rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--secondary-font);
    text-align: center;
}

.header-menu-list-item:hover .header-menu-list-item__link {
    color: #fce38a;
}

.banner__heading {
    font-size: 7.2rem;
    font-weight: 400;
    font-family: var(--brand-title-font);
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 20rem;
}

.banner-heading__brand {
    position: relative;
    font-size: 15rem;
    line-height: 14rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--secondary-font);
    text-align: center;
    margin-bottom: 11.7rem;
}

.banner__btn {
    position: relative;
    margin: 0 auto 15.5rem;
    max-width: 16rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0.3rem solid #ffffff;
    color: var(--white);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--secondary-font);
    text-align: center;
    padding: 1.2rem;
}

.banner__btn:hover {
    opacity: 0.6;
}

.banner-heading__brand::before {
    position: absolute;
    content: "";
    bottom: -22%;
    width: 6rem;
    height: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    z-index: 5;
}

.banner-slider-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-slider-list-item {
    position: relative;
    width: calc(100% / 4 - 2.4rem);
    padding: 3.2rem 0 3.2rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--secondary-font);
    color: #f8eac5;
    border-top: 0.3rem #f8eac5 solid;
    white-space: nowrap;
}

.banner-slider-list-item__text {
    font-size: 1.8rem;
}

.banner-slider-list-item.banner-slider-list-item--active {
    color: var(--white);
}

.banner-slider-list-item.banner-slider-list-item--active::before {
    position: absolute;
    content: "";
    top: -5%;
    left: 0;
    width: 30%;
    background-color: #f38181;
    height: 0.4rem;
    z-index: 5;
}

.banner-slider-list-item.banner-slider-list-item--active::after {
    position: absolute;
    content: "";
    top: -5%;
    right: 0;
    width: 70%;
    background-color: #fff;
    height: 0.3rem;
    z-index: 5;
}

.about {
    margin-bottom: 10.7rem;
    padding-top: 12rem;
}

.content__question {
    font-size: 2.4rem;
    color: #333333;
    font-weight: 400;
    font-family: var(--brand-title-font);
    text-align: center;
    margin-bottom: 1.5rem;
}

.content__heading {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: var(--secondary-font);
    text-align: center;
    margin-bottom: 7.5rem;
}

.content__heading::after, .map__title::after {
    position: absolute;
    content: "";
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 0.3rem;
    background-color: #f38181;
    z-index: 1;
}

.content__text {
    max-width: 96rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 9.7rem;
}

.about-pics-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-pics-list-item {
    position: relative;
    width: calc(100% / 3 - 2.4rem);
    background-color: #95e1d3;
}

.about-pics-list-item__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-pics-list-item--hover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 25rem;
    overflow: hidden;
    animation: ease 0.2s;
}

.about-pics-list-item:hover .about-pics-list-item--hover {
    top: -0.7rem;
    left: -2%;
}

.about-pics-list-item:hover .about-pics-list-item-brand {
    display: flex;
}

.about-pics-list-item:hover .about-pics-list-item--hover::before {
    display: block;
}

.about-pics-list-item--hover::before {
    display: none;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #fbe389 0%, #f48b82 100%);
    opacity: 0.8;
    z-index: 1
}

.about-pics-list-item-brand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.about-pics-list-item-brand > img {
    margin: 0 auto 1.2rem;
}

.about-pics-list-item-brand > p {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--secondary-font);
    text-align: center;
}

.facts {
    background-color: #95e1d3;
    margin-bottom: 10rem;
}

.facts-list {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}

.facts-list-item {
    width: calc(100% / 5 - 0.6rem);
    padding: 8rem 0;
}

.facts-list-item:not(:last-child) {
    border-right: 1px solid var(--white);
}

.facts-list-item__number {
    font-size: 7.2rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    font-family: var(--secondary-font);
    text-align: center;
    margin-bottom: 2.4rem;
}

.facts-list-item__txt {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 400;
    font-family: var(--secondary-font);
    text-align: center;
}

.service {
    margin-bottom: 8rem;
}

.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-list-item {
    width: calc(100% / 3 - 9.6rem);
    display: flex;
    justify-content: space-between;
    padding: 4.8rem 0;
}

.service-list-item__img {
    width: 20%;
}

.service-list-item__img > img {
    margin: 0 auto;
    object-fit: cover;
}

.service-list-item-content {
    width: calc(80%);
}

.service-list-item-content__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: var(--secondary-font);
    margin-bottom: 1.5rem;
}

.service-list-item-content__txt {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.feature {
    position: relative;
    background-image: url(../images/feature-bg.png);
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    margin-bottom: 12rem;
    background-blend-mode: overlay;
}

.feature-design {
    position: relative;
}

.feature-design__img {
    margin: 0 auto;
}

.feature-design__img--above {
    position: absolute;
    top: 35%;
    right: 28%;
}

.service-design {
    display: flex;
    justify-content: space-between;
    max-height: 38.7rem;
    overflow: hidden;
}

.service-design > div {
    width: calc(100% / 2 - 1.5rem);
}

.service-design-accordion-smooth {
    border: 0.1rem #e5e5e5 solid;
}

.service-design-accordion-smooth:not(:last-child) {
    margin-bottom: 1.5rem;
}

.service-design-accordion-smooth-header {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.2rem;
    cursor: pointer;
}

.service-design-accordion-smooth-header > img {
    margin-right: 2rem;
}

.service-design-accordion-smooth-header > p {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.service-design-accordion-smooth-header::before {
    position: absolute;
    content: "";
    background-image: url(../images/pic-scroll.png);
    width: 2.1rem;
    height: 1.2rem;
    right: 2%;
    z-index: 3;

}

.service-design-accordion-smooth__panel {
    padding: 2rem 2rem 0 2rem;
    max-height: 17rem;
    font-size: 1.5rem;
    line-height: 2.4rem;

    font-weight: 300;
    font-style: italic;
    display: none;
    overflow-y: scroll;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.service-design-accordion-smooth__panel::-webkit-scrollbar {
    width: 0.5rem;
    margin-right: 2rem;
}

.service-design-accordion-smooth__panel::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem #f5f5f5;
    border-radius: 1rem;
}

.service-design-accordion-smooth__panel::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 1rem;
}

.quote {
    background-color: #f8f8f8;
    padding: 6.4rem 0;
}

.quote--white {
    background-color: #fff;
}

.quote-list {
    position: relative;
    padding: 0 10.4rem;
}

.quote-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.quote-item__img {
    width: 25%;
}

.quote-item__img > img {
    margin: 0 auto;
}

.quote-item-content {
    width: 75%;
}

.quote-item-content__text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1rem;
}

.quote-item-content__author {
    position: relative;
    font-size: 2.4rem;
    color: #333333;
    font-weight: 400;
    font-family: var(--brand-title-font);
    margin-left: 10rem;
}

.quote-item-content__author::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 102%;
    width: 8rem;
    height: 0.4rem;
    background-color: #f38181;
}

.quote-list .slick-prev,
.quote-list .slick-next {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    font-size: 2.3rem;
    color: #ccc;
}

.quote-list .slick-prev {
    right: 0;;
}

.quote-list .slick-next {
    left: 0;
}

.logos {
    background-color: #f8f8f8;
    padding: 6rem 0;
}

.work, .testimonial, .review {
    padding-top: 12rem;
}

.pics-list {
    max-height: 78.3rem;
    display: flex;
}

.pics-list-item {
    width: calc(100% / 4);
}

.pics-list-item-img {
    position: relative;
}

.pics-list-item--double > .pics-list-item-img {
    height: 50%;
}

.pics-list-item--simple > .pics-list-item-img {
    height: 100%;
}

.pics-list-item-img--hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-image: linear-gradient(0deg, #fbe389 0%, #f48b82 100%);*/
    /*opacity: 0.8;*/
    visibility: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: ease 3s;
}

.pics-list-item-img:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, #fbe389 0%, #f48b82 100%);
    opacity: 0.8;
    z-index: 1;
}

.pics-list-item-img:hover > .pics-list-item-img--hover {
    visibility: visible;
}

.pics-list-item-img--hover > h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: 1.2rem 0;
}

.pics-list-item-img--hover > p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.pics-list-item-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.quote-item__img--radius > img {
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
}

.our-team {
    margin: 12rem 0;
}

.our-team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-team-list-item {
    width: calc(100% / 3 - 6rem);
}

.our-team-list-item-img {
    position: relative;
    background-color: #95e1d3;
}

.our-team-list-item-img--hover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    animation: ease 0.2s;
    height: 47rem;
}

.our-team-list-item-img:hover
.our-team-list-item-img--hover {
    top: -0.7rem;
    left: -2%;
}

.our-team-list-item-img--hover:hover::after,
.our-team-list-item-img--hover:hover
.our-team-list-item-img__social {
    visibility: visible;
}

.our-team-list-item-img--hover::after {
    visibility: hidden;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #fbe389 0%, #f48b82 100%);
    opacity: 0.8;
    z-index: 1
}

.our-team-list-item-img--hover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.our-team-list-item-img__social {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border: 1px solid #f38181;
    height: 5.2rem;
}

.our-team-list-item-img__social > .active {
    background-color: #f38181;
}

.our-team-list-item-img__social > img {
    width: 50px;
    height: 50px;
    background-color: #fbe389;
    object-fit: none;
    max-width: none;
}

.our-team-list-item-img__social > img:not(:last-child) {
    border-right: 1px solid #f38181;
}

.our-team-list-item-content__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: 2.6rem auto 1.2rem;
}

.our-team-list-item-content__role {
    font-size: 15px;
    line-height: 24px;

    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.review {
    position: relative;
    background-image: url(../images/review-lo.png);
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    margin-bottom: 12rem;
    background-blend-mode: overlay;
}

.review-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.review-list-item {
    width: calc(100% / 2 - 6.5rem);
    display: flex;
    justify-content: space-between;
}

.review-list-item__avatar {
    margin-right: 4rem;
}

.review-list-item__avatar > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.review-list-item-info {
    width: 80%;
}

.review-list-item-info__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 1.2rem;
}

.review-list-item-info__role {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin-bottom: 4.2rem;
}

.review-list-item-info__role::after {
    position: absolute;
    content: "";
    bottom: -100%;
    left: 0;
    width: 6rem;
    height: 0.3rem;
    background-color: #f38181;
    z-index: 1;
}

.review-list-item-info__text {
    width: 389px;
    height: 129px;
    font-size: 15px;
    line-height: 24px;

    font-weight: 400;
    font-family: "Roboto";
}

.blog {
    margin-bottom: 12rem;
}

.blog-list {
    display: flex;
    justify-content: space-between;
}

.blog-list-item {
    width: calc(100% / 3 - 5.2rem);
}

.blog-list-img {
    position: relative;
    height: 24rem;
}

.blog-list-img:hover {
    opacity: 0.8;
}

.blog-list-img__cld {
    position: absolute;
    top: 64%;
    left: -3%;
    background-color: #95e1d3;
    padding: 1.2rem;
}

.blog-list-img__cld > h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.blog-list-img__cld > p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.blog-list-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-list-content {
    border-bottom: 0.1rem var(--primary-color) solid;
}

.blog-list-content__title {
    margin-top: 1.8rem;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
}

.blog-list-content__text {
    max-width: 380px;
    max-height: 130px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    padding: 1.8rem 0;
}

.blog-list-action {
    display: flex;
    justify-items: center;
    margin-top: 1.2rem;
}

.blog-list-action > img {
    object-fit: contain;
    margin-right: 1rem;
}

.blog-list-action > span {
    font-size: 15px;
    line-height: 24px;

    font-style: italic;
    margin-right: 2rem;
}

.map {
    padding: 5.5rem 7.6rem;
    position: relative;
    background-image: url(../images/review-lo.png);
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.map__icon {
    margin: 0 auto 1.2rem;
}

.map__title {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    color: #f38181;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.footer {
    background-color: #f7f7f7;
    padding: 6.7rem 0 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-inner-contact {
    width: 40%;
}

.footer-inner-contact__text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin: 3.2rem 0;
}

.footer-inner-contact__followers {
    font-size: 14px;
    padding-bottom: 1.6rem;
    border-bottom: 1px #e5e5e5 solid;
}

.footer-inner-contact__followers > span {
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
}

.footer-inner-contact-social {
    display: flex;
    align-items: center;
}

.footer-inner-contact-social > span {
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    margin-right: 2.4rem;
    padding: 1.2rem 0;
}

.footer-inner-contact-social > img {
    margin-left: 1.2rem;
}

.footer-inner-contact-form__input {
    padding: 1.25rem;
    border: 1px #e7e7e7 solid;
    border-right: none;
    outline: none;
    margin-right: -2px;
}

.footer-inner-contact-form__btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: var(--secondary-font);
    text-align: center;
    padding: 1.2rem 3rem;
    background-color: #95e1d3;
    outline: none;
    border: none;
    cursor: pointer;
}

.footer-inner-contact-form__btn:hover {
    opacity: 0.6;
}

.footer-inner-blogs {
    width: 30%;
}

.footer-inner-blogs > h3,
.footer-inner-social__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 3.2rem;
}

.footer-inner-blogs-list-item {
    display: flex;
    margin-bottom: 2rem;
}

.footer-inner-blogs-list-item-content {
    margin-left: 1.2rem;
}

.footer-inner-blogs-list-item-content > h3 {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
}

.footer-inner-blogs-list-item-content > p {
    font-size: 13px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
}

.footer-inner-social {
    width: 20%;
}

.footer-inner-social-list {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
}

.footer-inner-social-list > img {
    width: calc(100% / 3 - 0.3rem);
    object-fit: cover;
    margin-bottom: 0.3rem;
}

.footer-inner-social-list__note {
    font-size: 13px;
    line-height: 24px;
    color: #333333;
    font-style: italic;
    margin-top: 1.2rem;
}

.footer-copyright {
    border-top: 1px #e5e5e5 solid;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding: 2.4rem 0;

}

.footer-copyright > span {
    color: #f49e9e;
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1023px) {
    .banner__heading {
        font-size: 3.2rem;
    }

    .banner-heading__brand {
        font-size: 11rem;
        line-height: 10rem;
    }
}

@media only screen and (max-width: 767px) {
    .banner-heading__brand {
        font-size: 7rem;
        line-height: 6rem;
    }

    .header-menu {
        margin-bottom: 5.5rem;
    }

    .banner__btn {
        margin: 0 auto 5.5rem;
    }

    .banner-slider-list-item {
        padding: 2.2rem 0 2.2rem;
        font-size: 1.8rem;
    }

    .banner-slider-list-item__text {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 479px) {
}
